html, body {
  font-weight: 500;
  color: #464646;
}

#wrapper,
#wrapper.home,
#wrapper.post {
  max-width: 800px;

  padding-bottom: 40px;
}

code,
pre code {
  font-size: 13px;
}

.post h1 {
  font-weight: 400;
}
